	<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle text-white" role="button" data-toggle="dropdown" aria-expanded="false">
    並び替え
  </a>
  <div class="dropdown-menu">
    <p class="dropdown-item"><%= link_to '新着順', public_rooms_path(sort: 'newest') %></p>
    <p class="dropdown-item"><%= link_to 'いいね数順', public_rooms_path(sort: 'likes') %></p>
    <p class="dropdown-item"><%= link_to 'ブックマーク数順', public_rooms_path(sort: 'bookmarks') %></p>
  </div>
</div>