<div class="container">
  <div class="row">
    <div class="col-9 mx-auto">
      <div class="my-5">
        <%= render 'form', categories: @categories %>
      </div>
        
      <table class='table table-hover table-inverse table-light'>
        <thead class="table-dark">
          <tr>
            <th>カテゴリー名</th>
            <th>紐づけられた投稿数</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
         <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.room_categories.count %></td>
            <td>
              <%= link_to edit_admin_category_path(category), class: "btn btn-success" do%>
                編集する
              <% end %>
            </td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>