/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/* タブレット縦置きサイズ（768px）以下 */
@media screen and (max-width:768px) {
  .product-img{
      max-width: 200%;
      object-fit: cover;
  }
}

/* スマートフォンサイズ（576px）以下 */
@media screen and (max-width:576px) {
  .product-img{
      max-width: 100%;
      object-fit: cover;
  }
}

.user-show-post .card-index {
  width: 290px;
}

.user-show-post .partial-image {
  width: 280px;  /* 画像の幅を280pxに設定 */
  height: 180px; /* 画像の高さを180pxに設定 */
}

@media screen and (max-width:1440px) {
  .user-show-post .card-index {
    width: 230px;
  }

  .user-show-post .partial-image {
    width: 210px;  /* 画像の幅を280pxに設定 */
    height: 140px; /* 画像の高さを180pxに設定 */
  }
}

.user-show-bookmark .card-index {
  width: 290px;
}

.user-show-bookmark .partial-image {
  width: 280px;  /* 画像の幅を280pxに設定 */
  height: 180px; /* 画像の高さを180pxに設定 */
}

/*ゲストユーザーの機能制限*/
.guest-form {
 position: relative; /* コメントフォームに相対位置を設定 */
}

.guest-form .overlay {
 display: none; /* デフォルトではオーバーレイは表示されない */
 position: absolute;
 top: 0;
 left: 0;
 width: 100%; /* オーバーレイの幅はコメントフォームと同じ */
 height: 100%; /* オーバーレイの高さはコメントフォームと同じ */
 background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
}

.guest-form .message {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white; /* メッセージの色を白に設定 */
}

.card-index {
 width: 100%;
 flex-direction: column;
}

.show_image {
 width: 630px;
}

.show_image .carousel-indicators {
 bottom: 30px;
}

.room-list {
 display: flex;
}

.table-fixed {
 table-layout: fixed;
}

#room-index {
  display: grid;
  grid-template-columns: repeat(auto-fit, 380px);
  grid-column-gap: 10px;
  justify-content: center;
  list-style: none;
}

.alert-notice {
  color: #1c3927;
  background-color: #d7e2db;
  border-color: #c7d6cd;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid;
  border-radius: 0.25rem;
}

.alert-alert {
  color: #32080c;
  background-color: #dfcfd1;
  border-color: #d2bcbe;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid;
  border-radius: 0.25rem;
}

.full-page-image {
 position: relative;
 width: 100%;
 height: 100vh;
}

.full-page-image img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.overlay-text {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
 text-align: center;
}