/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .card-img{
    max-width: 100%;
    object-fit: cover;
}

/* タブレット縦置きサイズ（768px）以下 */
@media screen and (max-width:768px) {
  .product-img{
      max-width: 200%;
      object-fit: cover;
  }
}

/* スマートフォンサイズ（576px）以下 */
@media screen and (max-width:576px) {
  .product-img{
      max-width: 100%;
      object-fit: cover;
  }
}

.user-show .card {
  width: 290px;
}

.user-show .partial-image {
  width: 280px;  /* 画像の幅を280pxに設定 */
  height: 180px; /* 画像の高さを180pxに設定 */
}

/*ゲストユーザーの機能制限*/
.guest-form {
 position: relative; /* コメントフォームに相対位置を設定 */
}

.guest-form .overlay {
 display: none; /* デフォルトではオーバーレイは表示されない */
 position: absolute;
 top: 0;
 left: 0;
 width: 100%; /* オーバーレイの幅はコメントフォームと同じ */
 height: 100%; /* オーバーレイの高さはコメントフォームと同じ */
 background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
}

.guest-form .message {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white; /* メッセージの色を白に設定 */
}

.card {
 width: 380px;
}

.show_image {
 width: 630px;
}

.show_image .carousel-indicators {
 bottom: 30px;
}