// 各ボタンの色をカスタマイズできます！

// カスタムプライマリカラー
$primary: #bea98e;
$secondary: #b3b3b3;
$success: #366d4b;
$info: #00a5c3;
$warning:#b30000;
$danger: #600f18;
// $light:
$dark:#35201c;


// Bootstrapをインポート
@import 'bootstrap/scss/bootstrap';